 
   <!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%-title%></title>
   </head>
   <body>
      <div>
         <h1> Welcome to SocialB  </h1> 
      </div>
      <div>
         <% if(locals.user) { %>

         <form action="/users/posts" method="post">
             <textarea name="Content" id="" cols="30" rows="10" placeholder="Write Post...."></textarea>
             <input type="submit" placeholder="Confirm">
             <input type="reset" placeholder="Delete All">
         </form>

         <%}%>
       </div>

       <div>
         <% for(p of posts){ %>
           <p>
            <li>
               
               <%=p.Content%>
               
               </li>
               <%=p.User.Name%>
           </p>
            <% } %>
       </div>
   </body>
   </html>
   
 