<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/header">
</head>
<body>
  <h1>Sign In</h1>

  <form action="/users/create-Session" method="post" class="mainBox">
      <div class="Email">
          <span>Enter your Email</span>
          <input type="email" name="Email" placeholder="Email" required>
      </div>

      <div class="Password">
          <span>Enter your Password</span>
          <input type="password" name="password" placeholder="Password" required>
      </div>

      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
  </form>

  <p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>
</body>
</html>