<!DOCTYPE html>
<html lang="en">
<head>
    
    <title><%-title%></title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <h1>sign up</h1>

    <form action="/users/create" method="post"  enctype="multipart/form-data">

     <div class="mainBox">
       <div class="Name">
        <span>Enter your Name</span>
        <input type="text" name="Name" placeholder="Name">
       </div>

   


       <div class="Email">
        <span>Enter your Email</span>
        <input type="email" name="Email" placeholder="Email">
       </div>


       <div class="Password">
        <span>Enter your Password</span>
        <input type="password" name="password" placeholder="Password">
        <span>Confirm Password</span>
        <input type="password" name="ConfirmPassword" placeholder="ConfirmPassword">
       </div>

       <div class="profile">
        <span>Profile Photo</span>
        <input type="file" name="avatar" value="Profile" placeholder="profile">
       </div>

     
     </div>
     <div><input type="submit" value="Confirm"></div>
     <div><input type="reset" placeholder="reset"></div>




    </form>
</body>
</html>