<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%=user.avatar%>" alt="<%=user.Name%>" width="100">
   
    <% if(user.id == profile_user.id) {%>
        <form action="/users/update/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="Name" placeholder="Edit Name" required>
            <input type="email" name="Email" placeholder="New Email"  required> 
            <input type="file" name="avatar" value="profile">
            <input type="submit" value="Confirm">

        </form>

        <% } else {%>


            <h1>hello <%=profile_user.Name%> Welcome to the  Profile</h1>

            <% } %>

</body>
</html>